section{
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
}
section::after {
    content: '';
    flex-grow: 999999999;
}
.show {
    flex-grow: 1;
    position: relative;
    margin: 2px;
    height: 200px;
}
.content {
    height: 200px;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    cursor: pointer;
}

.arrow{
    border: 9px solid transparent;
    border-bottom-color: #3DA0DB;
    width: 0px;
    height: 0px;
    top:0px
}
.stick{
    width: 8px;
    height: 14px;
    border-radius: 1px;
    background-color: #3DA0DB;
    top:15px;
}
#back_top div{
    position: absolute;
    margin: auto;
    right: 0px;
    left: 0px;
}
#back_top{
    background-color: #dddddd;
    height: 38px;
    width: 38px;
    border-radius: 3px;
    display: block;
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: 100px;
    display: none;
    z-index: 11;
}
/*
.divImg{

    width:233px;
    height:214px;
    border:1px solid #e5e5e5;
    overflow: hidden;
    text-align: center;



 */