@page
@model PicCommunitity.Views.Account.loginModel
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>GET、POST</title>
        <script src="../wwwroot/js/jquery.min.js"></script>
    </head>
    <body>
        <input type="text" name="username" id="username" />
        <input type="text" name="password" id="password" />
        <input type="button" value="Submit" onclick="submit()" />
        <p id="msg">信息在此处出现</p>
    </body>
    <script>
        function submit() {
            $.ajax({
                type: "POST",
                url: "localhost:44362/Account/login",
                data: JSON.stringify({
                    userName: $("#username").val(),
                    userPassword: $("#password").val()
                }),
                dataType: "JSON",
                success: function (result) {
                    $("msg").text(result);
                }
            });
        }
    </script>
</html>