<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GET、POST</title>
    <script src="../wwwroot/js/jquery.min.js"></script>
</head>
<body>
    <input type="text" name="username" id="username" />
    <input type="text" name="password" id="password" />
    <input type="button" value="Submit" onclick="submit()" />
    <p id="msg">信息在此处出现</p>
</body>

</html>
<script>
    function submit() {
        var userName = $('#username').val();
        var userPassword = $('#password').val();
        var settings = {
            "url": "https://172.81.239.44:80/Account/login",
            "method": "POST",
            "timeout": 0,
            "headers": {
                "Content-Type": "application/json"
            },
            "data": JSON.stringify({ "userName": userName, "userPassword": userPassword }),
        };

        $.ajax(settings).done(function (response) {
            var msg = JSON.stringify(response);
            var obj = eval('(' + msg + ')');
            $('#msg').text(obj.status);
            $('#msg').append(obj.msg);
        });
    }
</script>