<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GET、POST</title>
    <script src="../wwwroot/js/jquery.min.js"></script>
    <script src="kartik-v-bootstrap-fileinput-8c23b07/js/fileinput.min.js"></script>
    <script src="kartik-v-bootstrap-fileinput-8c23b07/js/fileinput.js"></script>
</head>
<body>
    <input type="text" name="username" id="username" />
    <input type="text" name="password" id="password" />
    <input type="button" value="Submit" onclick="submit()" />
    <p id="msg">信息在此处出现</p>
</body>

</html>
<script>
    function submit() {
        var form = new FormData();
        form.append("", fileInput.files[0], "/C:/Users/89254/Desktop/ba0cb9bb2ff0a255b670a936c952ac4.jpg");
        form.append("tag", "simple");
        form.append("tag1", "flamine");
        form.append("userId", "1");
        form.append("tag2", "Navi");
        form.append("p_info", "new");
        form.append("price", "20");

        var settings = {
            "url": "http://172.81.239.44/Account/Upload",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            "data": form
        };

        $.ajax(settings).done(function (response) {
            console.log(response);
        });
    }
</script>