<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GET、POST</title>
    <script src="../wwwroot/js/jquery.min.js"></script>
    <script src="kartik-v-bootstrap-fileinput-8c23b07/js/fileinput.min.js"></script>
    <script src="kartik-v-bootstrap-fileinput-8c23b07/js/fileinput.js"></script>
</head>
<body>
    <input type="text" name="username" id="username" />
    <input type="text" name="password" id="password" />
    <input type="button" value="Submit" onclick="submit()" />
    <input type="file" value="选择文件" id="img_file" />
    <p id="msg">信息在此处出现</p>
</body>

</html>
<script>
    function submit() {
        var form = new FormData();
        form.append("userId", "1");
        form.append("pictureId", "100");
        form.append("p_info", "ssss");
        form.append("price", "100");
        form.append("tag", "black");
        form.append("tag1", "wet");
        form.append("tag2", "white");

        var settings = {
            "url": "http://172.81.239.44/Account/Upload2",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            "data": form
        };

        $.ajax(settings).done(function (response) {
            console.log(response);
        });
    }
</script>