@model PicCommunitity.Models.blog
<html>
<body>
    <h1 style="color:red">Hello World</h1>
    <p>b_id=@Model.b_id</p>
    <p>b_type=@Model.b_type</p>
    <p>b_date=@Model.b_date</p>
    <p>b_text=@Model.b_text</p>
</body>
</html>