

.dropdown-menu table{
	width: 390px;
	background-color: #101010;
}
.dropdown-menu th{
	width: 130px;
	padding: 10px;
	color: white;
	background-color: #222222;
}
.dropdown-menu td{
	width: 130px;
	padding: 10px;
	color: #D9EDF7;
	background-color: #222222;
}
.dropdown-menu td>a{
	color: #CCCCCC;
}
.dropdown-menu td>a:hover{
	text-decoration: none;
	color: white;
}
input::-webkit-input-placeholder{text-align: left;}
input{
	outline: none;
}
.title-style{
	
	height: 40px;
	width: 100%;
	background-color: #66AFE9 ;
}
.nav-style{
	margin: auto 0;
	margin-left: 60px;
	float: left;
}
.nav-tabs {
    border-bottom: none;
}
.navlogo{
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	font-size: 18px;
}
.navtitle{
	margin: 0 40px 0 0;
}
.dropdown{
	height: 40px;
	margin: 0 40px 0 650px;
}
.btn.btn-primary.dropdown-toggle{
	height: 40px;
	background-color: #66AFE9;
}
.body-style{
	width: 100%;
	margin-top: 20px;
}
.btn.btn-primary.dropdown-toggle.two{
	border: none;
	height: 30px;
	background-color: #FFFFFF;
}
.dropdown-style{
	float: left;
	margin-left: 70px;
	height: 1000px;
	border-right: #555555 1px solid;
	width: 172px;
}
.content-style{
	float:left;
	
}
.content-header{
	border-bottom: #555555 1px solid;
	height: 100px;
}
.text-size{
	margin-left: 30px;
}
.body-title{
	height: 30px;
	margin-left: 30px;
	margin-top: 10px;
	border: 1px solid #737373;
	line-height: 30px;
}
.picture-style{
	width: 1000px;
	height: 457px;
	margin-top: 10px;
	margin-left: 30px;
	background-image: url(../img/1.PNG);
	border-left: #737373 1px solid;
}
.table-style{
	height: 400px;
	width: 1000px;
	margin-left: 30px;
	margin-top: 10px;
	border: 1px #737373 solid;
}
.table-header{
	height: 20px;
	width: 100px;
	float: left;
	margin-left: 30px;
	margin-top: 15px;
	border-left: #000000 4px solid;
}
.select-block{
	float: left;
	margin-left: 600px;
	margin-top: 10px;
	display: inline-block;
}
.dropdown-three{
	float: right;
	margin-right: 20px;
}
.btn.btn-primary.dropdown-toggle.three{
	border: none;
	height: 20px;
	margin-top: 0px;
	background-color: #FFFFFF;
}
.table.table-striped.table-bordered{
	margin-top: 40px;
	margin-left: 20px;
	width: 970px;
}
.pagination{
	margin: 0 auto;
	margin-left: 300px;
}

.input_box{
	position: absolute;
	margin: 0 40px 0 0;
	width:360px;
	height:40px;
	background-color: #bdecf9;
	float:left;
}

.input_keyword{
	
	width: 320px;
	height: 40px;
	font-size: 18px;
	float:left;
	
}

.clear{
	clear: both;
}

#search{
	
	background-image: url(../img/search.png);
	width: 40px;
	height:40px;
	
	float:left;
	
}

.head{
	
	width:40px;
	height:40px;
	border-radius:50%;
	

}

.headimg{
	position: relative;
	top:-10px;
}

.pictureShow{
	
	width: 1000px;
	height:600px;
	border:1px solid #000;
	margin-left: 60px;
	margin-top: 40px;
	text-align: center;
	float: left;

}

.body{
	background-color: #daf4f9;

}

.picture{
	width: 100%;
	height:100%;
}

.publisher_info{
	width: 500px;
	height:600px;
	border:1px solid #000;
	float: left;
	margin-left: 40px;
	margin-top: 40px;
	

}

.publisher_info1{
	width: 450px;
	height:120px;
	margin-left: 50px;
	margin-top: 50px;
}

.publisher_info1 img{
	width:80px;
	height:80px;
	border-radius:50%;
}

.publisher_info1 label{
	font-size: 25px;
	margin-left: 20px;
}

.publisher_info1 button{
	background-image: url(../img/follow.png);
	width: 82px;
	height:42px;
	margin-left: 40px;
	border-radius: 2px;
	
}
.line{
	width: 450px;
	height:2px;
	background-color: #abb1b2;
	margin-left: 25px;
	margin-right: 25px;
}
.good_collect{
	width: 440px;
	height:100px;
	margin-left: 30px;
	margin-top: 30px;

}

.label1{
	float:left;
	font-size: 28px;
	margin-right: 40px;

}

.good_label{
	float:left;
	font-size:35px;
	margin-right: 10px;
	color:#a8a2a2;
	cursor: pointer;
	text-align: center;
	height:50px;
}

#good{
	background-color: #3ad9f7;
	
	width: 40px;
	height:40px;
	border-radius: 5px;
	border: 2px solid #000;
	font-size:20px;
	margin-right:80px;
	float:left;
}

.label2{
	float:left;
	font-size: 28px;
	margin-right: 40px;
}
.collect_label{
	float:left;
	font-size:38px;
	margin-right: 10px;
	color:#a8a2a2;
	cursor: pointer;
	text-align: center;
	height:50px;
}

#collect{
	background-color: #3ad9f7;
	width: 40px;
	height:40px;
	border-radius: 5px;
	border: 2px solid #000;
	font-size:20px;
	
	float:left;
}

.download{
	width: 380px;
	height:100px;
	margin-left: 70px;
	
	text-align: center;
	
}

.download img{
	height:50px;
	width: 50px;
	
	
}

.download label{
	font-size: 28px;
	color:#000;
	letter-spacing: 2px;
	cursor: pointer;
	background-color: #fbe5a1;
	width: 320px;
	height:60px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #000;
}

#download{
	
	font-size:25px;
	
	background-color: #fbe5a1;
	margin-left: 20px;
	border-style: none;
	color:#e8af44;
	
	font-weight: bolder;
	text-align: center;
}

.picture_info{
	position: relative;
	width: 400px;
	height:300px;
	border:1px solid #000;
	
	margin-left: 60px;
	margin-top: 20px;
	text-align: center;
}

.comment{
	width: 1000px;
	height:300px;
	border:1px solid #000;
	margin-left: 60px;
	margin-top: 20px;
}

.comment1{
	margin-left: 20px;
	margin-top: 20px;
}

.comment img{
	width:80px;
	height:80px;
	border-radius:50%;
	float:left;
	margin-right: 30px;
}

.comment textarea{
	width: 800px;
	height: 150px;
	font-size: 20px;
	letter-spacing: 3px;
	
	
}

.comment_submit{
	width: 850px;
	height:200px;
	float:left;
}

.comment button{
	display: none;
	width:80px;
	height: 40px;
	font-size: 20px;
	border-radius: 10%;
	border: 1px solid #000;
}

.other_comment{
	width: 1000px;
	height:300px;
	border:1px solid #000;
	margin-left: 60px;
	margin-top: 20px;
}

.picture_info table{
	background-color: #fff;
	font-weight: bolder;
	font-size:20px;
	width:398px;
	height:250px;


}

.pop_up{
	position: absolute;
	top:350px;
	left:550px;
	width: 500px;
	height: 250px;
	z-index: 200;
	background-color: #f8ee83;
	border: 2px solid #000;
	border-radius: 5%;
	display: none;
	
}

.pop_up1{
	width: 450px;
	height: 200px;
	margin-top: 25px;
	margin-left:25px; 
	border: 2px dashed #000;
	border-radius: 5%;
	background-color: #f6f3cd;
	
}

.txt{
	width: 450px;
	font-size:25px;
	text-align: center;
	margin-top: 20px;


}

#confirm{
	width:80px;
	height:40px;
	font-size: 22px;
	background-color: #f8f7e6;
	border-radius: 10%;
	border: 1px solid #000;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-left: 60px;

}

#cancel{
	width:80px;
	height:40px;
	font-size: 22px;
	background-color: #f8f7e6;
	border-radius: 10%;
	border: 1px solid #000;
	letter-spacing: 5px;
	margin-top: 50px;
	margin-left: 160px;
}