
body{
	background:url(../img/table_bg.png);
}

.csdn-box{
	position:relative; 
	width:40%;
	margin:10px auto;
	background-color:#ddd;
	border-radius:20px;
	border:2px solid #717171;
}
.csdn-con{
	height:110px;
	margin:10px 10px 5px 10px;
	border-radius:20px;
	background-color:#ffffff;
	border:2px solid #989898;
}
.csdn-article{
	font-size:22px;
	margin:3px 10px 3px 10px;
	height:75px;
	position: absolute;
}
.csdn-time{
	margin-left:10px;

	height:25px;
	color:#a5a2a1;
	position:absolute;
	
}
.csdn-text{
	height:200px;
	width:100%;
}
.csdn-btn{
	width:60px;
	height:30px;
	border-radius:10px;
	 font-size: 18px; 
	 letter-spacing: 2px;
	 margin:0 10px 10px 10px;
	 background-color:#02BE6E;
	float:right;
	text-align: center;
}
.btn-success{
	padding: 12px 10px !important;
	margin: 0 0 10px;
	width: 100%;
	max-width: none !important;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	color: #fff!important;
	background-color: #02be6e!important;
	text-decoration: none!important;
	border-radius: 50px!important;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-drag: none;
	user-select: none;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 100%;
	outline: none;
}
