 body {
    width: 100%;
    height: 100%;
	min-width: 320px;
	margin: 0;
	display: block;
}
div{
	display: block;
}
button, h1, h2, h3, html, input, select, textarea {
    color: #191b26;
    font-family:sans-serif;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
a, input, select, textarea {
    outline: none!important;
}
input, select, textarea {
    border-radius: 2px!important;
    resize: none;
}
a{
	background-color: transparent;
	text-decoration: none;
}
form{
	display: block;
}
h2 {
    font-size: 18px;
    font-weight: 400;
	display: block;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
label {
    cursor: default;
}
label:not([class=checkbox]) {
    display: block;
    margin-top: 3px!important;
    margin-bottom: 3px!important;
}
textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textarea;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
    padding: 2px;
}
hr {
    box-sizing: content-box;
    height: 0;
	margin: 10px 0;
	border: 0;
	border-top: 1px solid #e7e;
	display: block;
	unicode-bidi: isolate;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	margin-inline-start: auto;
	margin-inline-end: auto;
	overflow: hidden;
	border-style: inset;
	border-width: 1px;
}


#wrapper{
	min-height: 100%;
	margin: 0 auto -86px;
}
#content{
	padding-bottom: 50px;
}
.clearfix{
	zoom: 1;
}
.clearfix:before,
.clearfix:after{
	display: table;
	content: "";
}
.clearfix:after{
	clear: both;
}

.tab_menu{
	list-style-type: none;
	padding: 0;
	border: 1px solid #f0f1f4;
	border-left: 0;
	border-right: 0;
	text-align: center;
}
.tab_menu a,
.tab_menu li{
	display: inline-block;
	padding: 10px 0;
	margin: 0 15px;
	cursor: pointer;
	color: #71767a;
	border-bottom: 2px solid transparent;
	line-height: 24px;
}
.tab_menu .selected{
	color: #0a88d3;
	border-bottom: 2px solid #0a88d3;
}
.pure-control-group ul{
	list-style: none;
}

.pure-g [class*=pure-u], button, h1, h2, h3, html, input, select, textarea {
    color: #191b26;
    font-family:sans-serif;
}
.pure-g {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
    font-family: FreeSans,Arimo,Droid Sans,Helvetica,Arial,sans-serif;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.pure-u-1, .pure-u-1-1, .pure-u-5-5, .pure-u-24-24 {
    width: 100%;
}
.pure-u-lg-1-2, .pure-u-lg-12-24 {
    width: 50%;
}
.pure-u-1, .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-1-4, .pure-u-1-5, .pure-u-1-6, .pure-u-1-8, .pure-u-1-12, .pure-u-1-24, .pure-u-2-3, .pure-u-2-5, .pure-u-2-24, .pure-u-3-4, .pure-u-3-5, .pure-u-3-8, .pure-u-3-24, .pure-u-4-5, .pure-u-4-24, .pure-u-5-5, .pure-u-5-6, .pure-u-5-8, .pure-u-5-12, .pure-u-5-24, .pure-u-6-24, .pure-u-7-8, .pure-u-7-12, .pure-u-7-24, .pure-u-8-24, .pure-u-9-24, .pure-u-10-24, .pure-u-11-12, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24 {
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.pure-form-aligned .pure-control-group {
    margin-bottom: .5em;
	margin: 20px 0 0;
}
.pure-form input[type=color], .pure-form input[type=date], .pure-form input[type=datetime-local], .pure-form input[type=datetime], .pure-form input[type=email], .pure-form input[type=month], .pure-form input[type=number], .pure-form input[type=password], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=text], .pure-form input[type=time], .pure-form input[type=url], .pure-form input[type=week], .pure-form select, .pure-form textarea {
    padding: .5em .6em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    vertical-align: middle;
    box-sizing: border-box;
}
.pure-control-group {
    margin: 20px 0 0;
}
.pure-form-aligned .pure-control-group label {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 10em;
	margin: 0 1em 0 0;
}
form ul label {
    text-align: left!important;
    white-space: nowrap;
}
.image_container:not(.has_profile_image) a, .image_container.has_profile_image span {
    display: none;
}
.profile_image_button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    opacity: .9;
    border-radius: 0 !important;
    transition: .2s;
}

.button-md {
    padding: 8px 17px;
    font-size: 13px;
}
.pure-button {
    padding: 10px 22px;
    text-decoration: none!important;
    border-radius: 50px!important;
	display: inline-block;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	user-select: none;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 100%;
	padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 0 transparent;
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 2px;
}
.pure-form-aligned textarea {
    vertical-align: top;
}
.button-sm {
    padding: 6px 12px;
    font-size: 12px;
    position: relative;
    top: -2px;
}
.modal{
	color: #0a88d3;
	text-decoration: none;
	cursor: pointer;
}
.button-green {
    color: #fff!important;
    background-color: #02be6e!important;
}


@media screen and (max-width: 767px) and (min-width: 568px)
.hide-sm{
	display: none!important;
}

@media screen and (max-width: 640px) 
.profile_form label{
	text-align: left !important;
	margin: 0 0 10px !important;
	display: block !important;
	width: 100% !important;
}

@media only screen and (max-width: 480px)
.pure-form input:not([type]), .pure-form input[type=color], .pure-form input[type=date], .pure-form input[type=datetime-local], .pure-form input[type=datetime], .pure-form input[type=email], .pure-form input[type=month], .pure-form input[type=number], .pure-form input[type=password], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=text], .pure-form input[type=time], .pure-form input[type=url], .pure-form input[type=week], .pure-form label {
    margin-bottom: .3em;
    display: block;
}

@media screen and (max-width: 640px)
textarea, input[type="url"], textarea, input[type="email"], input[type="text"] {
    width: 100%;
    max-width: none;
}


#hero {
    position: relative;
    background-position: 50%;
    background-size: cover;
    background-color: #555;
    margin: 0 0 20px;
    text-align: center;
    transition: .8s;
}
#hero h1 {
    padding: 130px 0 0;
    font: 700 26px Open Sans,sans-serif;
}
#hero h1, #hero h2 {
    margin: auto;
    max-width: 400px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.6);
    line-height: 1.5!important;
}
#stats a, #stats span {
    white-space: nowrap;
    margin: 0 10px;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
}
#stats span i {
    cursor: default;
}
.icon_images {
    background-position: -150px -350px;
    width: 14px;
    height: 12px;
}

.edit_profile_links {
    opacity: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: .2s;
}
.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #0078e7;
    color: #fff;
}
.button-sm {
    padding: 6px 12px;
    font-size: 12px;
    position: relative;
    top: -2px;
}
.pure-button-primary {
    color: #fff!important;
    background-color: #008ddf!important;
}
.pure-button {
    padding: 10px 22px;
    text-decoration: none!important;
    border-radius: 50px!important;
}
.pure-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    border: 0 transparent;
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 2px;
}
a, input, select, textarea {
    outline: none!important;
}
